* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ol, ul, li {
    list-style: none;
}
.wrapper {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0px 5px;
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 10;
    -webkit-appearance: none;
} */